@font-face {
    font-family: clacon2;
    src: local("clacon2"), url("../../../assets/font/clacon2.ttf") format("truetype");
}

.root {
    font-family: clacon2;
    color: white;
    background-image: url("../../../assets/images/Matrix-Rain.gif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.container > * {
    font-family: clacon2;
    padding: 10px;
}

.container {
    border: 3px blue solid;
    height: 90%;
    width: 95%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background:rgba(0,0,0,0.5);
    backdrop-filter: blur(6px);
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container::-webkit-scrollbar {
    width: 6px;
	background-color: #F5F5F5;
    box-shadow: inset 0 0 5px grey; 
	background-color: #F5F5F5;
    border-radius: 10px;
}

/* Track */
.container::-webkit-scrollbar-track {
    background: #440000;
    border-radius: 10px;
}
   
/* Handle */
.container::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}

/* Handle on hover */
.container::-webkit-scrollbar-thumb:hover {
    background: #555; 
}